// Colores

$white: #fff;
$Platinum: #E8EBE4;
$gray: #F7BFB6;
$Blue-Bell: #ccdce6;
$Blue-Bell-hover: #449acf;
$rojo: #d89191;
$rojo-hover: #ca5436;
$Dark-jungle: #1b1f21;
$Outer-Space: #444749;
$Old-sirver: #828485;


// TYPOGRAFIA
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// FONT WEIGHT
$bold: 700;
$regular: 400;

// FONT SIZE
$x-large: 50;
$large:30;
$medium: 16;
$small: 14;
$x-small: 10;